/* || Basic reset */
html,
body {
    padding: 0;
    margin: 0;
    border: 0;   
    background-color: #f3f5f5;
    font-size: 15px;    
}

ol, ul {
    list-style: none;
  }

/* || Typography */
h1,
h2,
h3,
p,
a,
li,
span {
    font-family: "Open Sans", sans-serif;
    color: #4a4a4a;
}

h1,
h3 {
    padding-top: 32px;
    margin: 0;
}

h3 {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

/* || Global */
/* | Head & Nav */
.container {
    padding-left: 16px;
    max-width: 1200px;  
   
}
.head {
    background-color: #ffffff;
    height: 64px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 99;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

/* | Banner */
.banner {
    width: 100%;
    position: relative;
    top: 65px;
    display: flex;    
    align-items: center;
    flex-wrap: wrap;
    background-color: #d8d8d8;
}

.banner-image {
    flex: 1 1 320px;
    overflow: hidden;
    margin: 0;
    height: auto;
}

.banner-text {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.button {
    border-radius: 4px;
    background-color: #4a4a4a;      
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
    margin-right: 16px;
  }

.button p {
    color: white;
    font-weight: bold;
}


/* || Mobile */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  {
   /* || Nav */   
    .container {
        min-width: 320px;
        padding-left: 0;
   }

    .logo-mobile {
        padding-left: 1rem;
    }

    nav ul li {
        padding-left: 2rem;
        padding-right: 2rem;
    }  
    
    /* || Banner */   
    .banner-image img {
        max-width: 100%;
        
    }

    .button {
        background-color: #9b9b9b;
    }

    h1 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1rem;
    }



    /* || Hidden from mobile view */ 
    .logo-desktop-container {
        display: none;
    }

   } 



/* || Large screen */
@media only screen 
  and (min-device-width: 1200px) 
  {
     /* || Nav */      
    .logo-desktop-container {
        width: 100%;
        display: flex;  
        justify-content: space-between;      
        align-items: center;
    }

    .logo-desktop-left {
        display: flex;
        align-items: center;
    }

    .logo-desktop img {
        height: 40px;
        width: auto;
    }
   
    .logo-text span {
        font-size: 1.4rem;
    }

    .academy {
        color: #9b9b9b;
    }

    nav {
        display: flex;
        justify-content: flex-end;
    }

    nav ul {
        margin-right: 24px;
    }

    nav ul li {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }  
    
    a {
        text-decoration: none;
    }


    /* || Banner */ 
    .banner-image {
        width: 60%;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .banner-image img {
        max-width: 100%;
        height: auto;
    }

    .banner-text {
        margin-right: 1.5rem;
    }

    /* || Mobile hidden */   
       .logo-mobile {
        display: none;
    }
    .nav-mobile {
        display: none;
    }
  }